
.carouselWrapper{
}

.myCarousel{
    background-color: black;
    overflow: hidden;
    height: 80vh;
    width: 100%;
}

.carousel-img{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.facebook {
  background-color: black;
}

#home-map-panel {
  background-color: black;
}
