@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*
@media screen and (max-width: 767px) {
  .text-content {
    font-size: 255%;
    font-weight: 600;
  }
  .navbar-brand {
    font-size: 300%;
  }
}
 @media screen and (min-width: 768px) {
  .text-content {
    font-size: 235%;
    font-weight: 600;
  }
  .navbar-brand {
    font-size: 300%;
  }
}

@media screen and (min-width: 992px) {
  .text-content {
    font-size: 170%;
    font-weight: 400;
  }
  .navbar-brand {
    font-size: 300%;
  }
}

@media screen and (min-width: 1200px) {
  .text-content {
    font-size: 170%;
    font-weight: 500;
  }
  .navbar-brand {
    font-size: 240%;
  }
} */

#top-navbar {
  border-radius: 0px;
  padding: 1%;
}

.navbar-brand {
  cursor: pointer;
  font-weight: 900;
}

body {
  font-family: sans-serif;
  background-attachment: fixed;
}

.resize-y{
  resize: vertical;
}

.tabs {
  background-color: #DFDFDE;
  font-size: 100%;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 5px 7px 18px 2px rgba(0,0,0,0.75);
}


.run{
  height: 50px;
}

.walk{
  height: 32px;
}

.storeTiming > a{
  color: #222 !important;
  opacity: 1;
  padding-bottom: 15px;
  padding-top: 15px;
}

.scrolled .storeTiming > a{
  background-color: black;
}

#OurNAV {
  background:transparent !important;
  border-bottom: 0;
  box-shadow: none;
}


#OurNAV .navbar-nav > li > a {
  color: white !important;
  font-weight: bold;
}

#OurNAV .navbar-brand {
  color: white !important;
}

#OurNAV.scrolled {
  background-color: #1f6357 !important;
}
