
.carouselWrapper{
}

.myCarousel{
    background-color: black;
    height: 40%;
    overflow: hidden;
    
}

.carousel-img{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 70%;
}

.facebook {
  background-color: black;
}

#home-map-panel {
  background-color: black;
}
