
body {
    font-family: courier;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
}

#top-navbar {
  border-radius: 0;
  padding-top: 1.2%;
  height: 10%;
  font-size: 20px;
}

#navbar-brand {
    margin-left: -25%;
    font-size: 30px;
}

#top-right-nav {
    margin-right: -10%;
}

.tabs {
    font-size: 25px;
}

.myCarousel{
    background-color: black;
    height: 40%;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}

.carousel-img{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 70%;
}

#home-map-panel {
  background-color: black;
}

.home{
    margin-top: 2%;
}

.carouselWrapper{
}

.run{
    height: 50px;
}
