
body {
  background-color: #932B14;
}

#top-navbar {
  border-radius: 0;
}

.myCarousel{
    background-color: black;
    height: 40%;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
}

.carousel-img{
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: 100%;
}

#home-map-panel {
  background-color: black;
}

.home{
    margin-top: 2%;
}

.carouselWrapper{
}

.run{
    height: 50px;
}
